@import './color';

main {
    padding: 1rem 2rem;
    position: relative;

    sla-detail {
        h2 {
            text-align: center;
        }
    
        .content__wrapper {
            .content__card-detail {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;

                img {
                    max-width: 100%;
                }
            }

            .content__card-detail-overview {
                .content__card-detail-overview_description {
                    margin: 0;
                }

                .content__card-detail-overview_menus {
                    display: flex;
                    justify-content: space-around;
                }
            }

            .content__card-detail-reviews {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;

                .content__card {
                    border: 2px solid $baseRock;
                    padding: 1rem;

                    .content__card-rounded {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color: $baseRock;
                        margin-bottom: 1rem;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            @media (max-width: 900px) {
                .content__card-detail {
                    grid-template-columns: repeat(1, 1fr);
                }

                .content__card-detail-reviews {
                    grid-template-columns: repeat(1, 1fr);

                    .content__card {
                        .content__card-rounded {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }

        #favoriteButtonContainer {
            position: fixed;
            bottom: 1rem;
            right: 1rem;

            .add {
                background-color: $baseGray;
                color: $baseBlack;
                border: 2px solid $baseRock;
                box-shadow: 0 2px 12px 0 rgb(36 50 66 / 8%);
                padding: 1rem;
            }
        }

        @media (max-width: 900px) {
            #favoriteButtonContainer {
                .add {
                    padding: .85rem;
                }
            }
        }
    }

    @media (max-width: 900px) {
        padding: 0.5rem 1rem;
    }
}
