@import './color';

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #FFFFFF;
    top: 0;
    box-shadow: 0 2px 12px 0 rgb(36 50 66 / 8%);
    z-index: 2;

    sla-navbar {
        display: flex;
        padding: .5rem 1rem;
        align-items: center;

        img {
            width: 100%;
        }

        .nav__burger {
            display: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    a {
        display: inline-block;
        padding: 1.3em;
        text-decoration: none;
        color: #616161;

        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }

    .nav__list {
        width: 100%;
        padding: 0;
        margin: 0;

        .nav__item {
            box-sizing: border-box;
            display: inline-block;
            width: 24%;
            text-align: center;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
    
    @media (max-width: 900px) {

        sla-navbar {
            justify-content: space-between;

            .nav__burger {
                display: block;
                font-size: 1.25rem;
            }
        }

        .open {
            display: block !important;
            position: absolute;
            top: 5rem;
            right: 0;
            background-color: $baseGray;
        }
    
        .nav__list {
            display: none;

            .nav__item {
                display: list-item;
                border-bottom: 1px solid #E0E0E0;
                width: 100%;
                text-align: left;

                a {
                    padding: 0.7rem;
                    font-size: 1.25rem;
                }
            }
        }
    }
}
